<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    style="background-color: white; border: 0">
                    <i class="fas fa-bag-shopping"></i>
                    [[${listaTotal}]]
                </button>
            </form>
        </div>   

        <!-- 2 Sección principal para mostrar la informaccion de las productos -->
        <section sec:authorize="hasRole('ROLE_USER')" th:fragment="listadoProductosFiltrado" id="productos">
            <div class="row row-cols-3 mb-5" style="margin-right: 10px"> 
                <div class="card" th:each="p : ${productos}">
                    <figure><a th:href="@{/producto/vistaProductoDetalle/{idProducto}(idProducto=${p.idProducto})}"><img th:src="${p.rutaImagen}" 
                                                                                                                         class="card-img" alt="..."
                                                                                                                         width="50" height="300"/></a>
                    </figure>
                    <div class="card-body">

                        <h5 class="card-title">[[${p.nombre}]]</h5>
                        <p class="card-text">[['$'+${p.precio}]]</p> 
                    </div>
                </div>
        </section>
        <section th:fragment="listadoCarrito" id="items">
            <br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9" style="border-right:1px solid; border-color: #cccccc">
                            <div class="container d-flex justify-content-between">
                                <h4>[[#{p.p}]]</h4>
                                <h4 style="text-align: end">SUBTOTAL</h4>
                            </div>

                            <hr>
                                <div class="row row-cols-1 mb-5" style="margin-right: 10px"> 
                                    <div class="card" th:each="p : ${items}">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img th:src="${p.rutaImagen}" height="200"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <h4 class="card-title">[[${p.nombre}]]</h4>
                                                    <h5 class="card-text">[[${p.descripcion}]]</h5>
                                                    <h5 class="card-text">[['$'+${p.precio}]]</h5>
                                                    <h5 class="card-text">[['QTY:'+${p.cantidad}]]</h5>
                                                </div>
                                                <div class="col-md-5" style="text-align: end">
                                                    <h3 class="card-title">[['$'+${p.cantidad*p.precio}]]</h3>
                                                    <a th:href="@{/carrito/eliminar/}+${p.idProducto}"
                                                       class="btn">
                                                        <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                                    </a>
                                                    <br>
                                                        <a th:href="@{/carrito/modificar/}+${p.idProducto}"
                                                           class="btn">
                                                            <i class='fas fa-pencil'></i> [[#{accion.actualizar}]]
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="text-center p-2" th:if="${items== null or items.empty}">
                                            [[#{carrito.no_mostrar}]]
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-3">
                            <div class="container d-flex"><h4>[[#{p.c}]]</h4></div>
                            <hr>    
                                <div class="container d-flex justify-content-between">
                                    <p>SUBTOTAL</p>
                                    <p style="text-align: end; font-weight: bold">[['$'+${carritoTotal}]]</p>
                                </div>
                                <hr>
                                    <div class="container d-flex justify-content-between">
                                        <p>[[#{p.e}]]</p>
                                        <p style="text-align: end; font-weight: bold">$0</p>
                                    </div>
                                    <hr>
                                        <div class="container d-flex justify-content-between">
                                            <h2>TOTAL</h2>
                                            <h2 style="text-align: end; font-weight: bold">[['$'+${carritoTotal}]]</h2>
                                        </div>
                                        <hr>
                                            <div class="card text-center text-white mb-3" style="background-color: #cccccc">
                                                <div class="card-body">
                                                    <a th:href="@{/}"
                                                       class="btn text-black">
                                                        <i class='fas fa-reply'></i> [[#{carrito.seguirComprando}]]
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card text-center bg-dark text-white mb-3">
                                                <div class="card-body">
                                                    <a th:href="@{/carrito/checkout}"
                                                       class="btn bg-dark text-white">
                                                        <i class='fas fa-fordward'></i> [[#{carrito.finalizarPago}]]
                                                    </a>
                                                </div>
                                            </div> 
                                            </div>
                                            </div>
                                            </div>
                                            <br>
                                                </section>

                                                <section th:fragment="checkout" id="items">
                                                    <div class="container">
                                                        <form th:action="@{/facturar/carrito}" th:object="${usuario}" method="POST" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-md-9" style="border-right:1px solid; border-color: #cccccc">
                                                                    <div class="container d-flex justify-content-between">
                                                                        <h4>FACTURACIÓN Y ENVÍO</h4>
                                                                    </div>
                                                                    <hr>

                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="nombre"><h6>[[#{usuario.nombre}]]</h6></label>
                                                                                    <input type="text" class="form-control" id="nombre" name="nombre" th:field="${usuario.nombre}" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="apellido"><h6>[[#{usuario.apellidos}]]</h6></label>
                                                                                    <input type="text" class="form-control" id="apellido" name="apellido" th:field="${usuario.apellidos}" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="pais"><h6>[[#{usuario.pais}]]</h6></label>
                                                                                    <input type="text" class="form-control" id="pais" name="pais" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="provincia"><h6>Provincia</h6></label>
                                                                                    <input type="text" class="form-control" id="provincia" name="provincia" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="ciudad"><h6>Ciudad</h6></label>
                                                                                    <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="codigoPostal"><h6>Código postal</h6></label>
                                                                                    <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="form-outline mb-2">
                                                                                    <label for="telefono"><h6>Teléfono</h6></label>
                                                                                    <input type="text" class="form-control" id="telefono" name="telefono" th:field="${usuario.telefono}" required>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-outline mb-2">
                                                                            <label for="email"><h6>Email</h6></label>
                                                                            <input type="email" class="form-control" id="email" name="email" th:field="${usuario.email}" required>
                                                                        </div>
                                                                        <div class="form-outline mb-2">
                                                                            <label for="direccion"><h6>Dirección exacta</h6></label>
                                                                            <input type="text" class="form-control" id="direccion" name="direccion" th:field="${usuario.direccion}" required>
                                                                        </div>
                                                                        <div class="form-outline mb-2">
                                                                            <label for="metodoPago"><h6>Selecciona un método de pago:</h6></label>
                                                                            <select class="form-control" id="metodoPago" name="metodoPago">
                                                                                <option value="pagoContraEntrega">Pago contra entrega</option>
                                                                                <option value="tarjeta">Tarjeta</option>
                                                                                <option value="sinpeMovil">SINPE Móvil</option>
                                                                            </select>
                                                                        </div>
                                                                        <hr>
                                                                            <h5>Información Método de Pago</h5>
                                                                            <br>
                                                                                <p>Por favor, llenar la siguiente información solo en caso de seleccionar SINPE Móvil o Tarjeta como método de pago.</p>
                                                                                <div class="row">
                                                                                    <div class="col card">
                                                                                        <div class="card-title text-center align-items-center mt-2"><h6>Información Tarjeta</h6></div>
                                                                                        <hr>
                                                                                            <div class="card-body">
                                                                                                <div class="row">
                                                                                                    <div class="col form-outline mb-2">
                                                                                                        <label for="email"><h6>Titular</h6></label>
                                                                                                        <input type="text" class="form-control" id="email" name="email" >
                                                                                                    </div>
                                                                                                    <div class="col form-outline mb-2">
                                                                                                        <label for="email"><h6>Número Tarjeta</h6></label>
                                                                                                        <input type="text" class="form-control" id="email" name="email" >
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col form-outline mb-2">
                                                                                                        <label for="email"><h6>CVV</h6></label>
                                                                                                        <input type="number" class="form-control" id="email" name="email" >
                                                                                                    </div>
                                                                                                    <div class="col form-outline mb-2">
                                                                                                        <label for="email"><h6>Fecha Vencimiento</h6></label>
                                                                                                        <input type="date" class="form-control" id="email" name="email">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                    </div>
                                                                                    <div class="col card">
                                                                                        <div class="card-title text-center align-items-center mt-2"><h6>Información SINPE Móvil</h6></div>
                                                                                        <hr>
                                                                                            <div class="card-body">
                                                                                                <div class="row">
                                                                                                    <div class="mb-3">
                                                                                                        <h6>Favor realizar el SINPE Móvil al número 83484739 y adjuntar el comprobante de pago.</h6>
                                                                                                        <label class="form-label" for="imagen"><strong>Comprobante de Pago</strong></label>
                                                                                                        <input class="form-control form-control-lg" type="file" name="imagenFile"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                    </div>
                                                                                </div>
                                                                                </div>

                                                                                <div class=" card col-md-3">
                                                                                    <div class=" mt-2 container d-flex"><h4>ORDEN FINAL</h4></div>
                                                                                    <hr>    
                                                                                        <div th:each="p : ${items}">
                                                                                            <div class="card-body">
                                                                                                <div class="row">
                                                                                                    <div class="col">
                                                                                                        <img th:src="${p.rutaImagen}" height="100"/>
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <h6 class="card-title">[[${p.nombre}]]</h6>
                                                                                                        <h5 class="card-text">
                                                                                                            <span th:text="${p.cantidad}">&#8203;</span>
                                                                                                            x <span style="color: #2da5f3" th:text="'$'+${p.precio}">&#8203;</span></h5>

                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div> 
                                                                                        <hr>
                                                                                            <div class="row">
                                                                                                <h5 class="col">Subtotal:</h5>
                                                                                                <h5 class="col text-end">  [['$'+${carritoTotal}]]</h5>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <h5 class="col">Envío:</h5>
                                                                                                <h5 class="col text-end"> $0</h5>
                                                                                            </div>

                                                                                            <div class="row">
                                                                                                <h5 class="col">Descuento:</h5>
                                                                                                <h5 class="col text-end">  $0</h5>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <h5 class="col">Impuestos:</h5>
                                                                                                <h5 class="col text-end">  -</h5>
                                                                                            </div>
                                                                                            <hr>
                                                                                                <div class="row">
                                                                                                    <h4 class="col">Total:</h4>
                                                                                                    <h4 class="col text-end">  [['$'+${carritoTotal}]]</h4>
                                                                                                </div>
                                                                                                <div class="card-footer">
                                                                                                    <button class="btn bg-dark text-white" style="width: 100% "type="submit">Facturar</button>
                                                                                                </div>
                                                                                                </div>

                                                                                                </div>

                                                                                                </form>
                                                                                                <br>

                                                                                                    </div>

                                                                                                    </section>
                                                                                                    <section th:fragment="modificaItem">

                                                                                                        
                                                                                                        <div class="mt-5 container  justify-content-center">
                                                                                                            <div class="row mt-2 justify-content-center">
                                                                                                                <div class="col-md-3 "><h4>Producto</h4></div>
                                                                                                            <div class="col-md-3  text-end " >
                                                                                                                <a th:href="@{/carrito/listado}" class="btn text-white bg-dark">
                                                                                                                    <i class='fas fa-reply'></i> Regresar</a>
                                                                                                            </div></div>
                                                                                                            <hr>
                                                                                                            <div class="card-body">
                                                                                                                <div class="row justify-content-center">
                                                                                                                    <div class="col-md-3">
                                                                                                                        <h5 class="card-title">[[${item.nombre}]]</h5>
                                                                                                                        <p class="card-text">[[${item.descripcion}]]</p>
                                                                                                                        <figure><img th:src="@{${item.rutaImagen}}" height="200"/></figure>
                                                                                                                    </div>
                                                                                                                    <div class="col-md-3 justify-content-center">

                                                                                                                        <h6 class=" card-subtitle mb-2 text-muted ">
                                                                                                                            [['$'+${item.precio}+' ('+${item.existencias}+')']]</h6>
                                                                                                                        <br>
                                                                                                                            <form th:action="@{/carrito/guardar}"
                                                                                                                                  method="post"
                                                                                                                                  th:object="${item}" >
                                                                                                                                <input type="hidden" name="idProducto" th:field="*{idProducto}"/>

                                                                                                                                <label for="cantidad">Cantidad:</label>
                                                                                                                                <input type="number" name="cantidad" th:field="*{cantidad}" 
                                                                                                                                       min='1' th:max="${item.existencias}"/>
                                                                                                                                <br> <br>
                                                                                                                                        <button class="btn bg-dark text-white" type="submit" name="guardar">
                                                                                                                                            <i class='fas fa-save'></i> [[#{accion.actualizar}]]</button>
                                                                                                                                        <br><br>
                                                                                                                                                <a th:href="@{/carrito/eliminar/}+${item.idProducto}"
                                                                                                                                                   class="btn bg-dark text-white">
                                                                                                                                                    <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                                                                                                                                </a>
                                                                                                                                                </form>
                                                                                                                                                </div>

                                                                                                                                                </div>
                                                                                                                                                </div>
                                                                                                                                                </div>



                                                                                                                                                </section>

                                                                                                                                                <section th:fragment="orden">
                                                                                                                                                    <div class="container text-center mt-5 mb-5 justify-content-center">
                                                                                                                                                        <div class="justify-content-center">
                                                                                                                                                            <img class="text-center" src="https://cdn-icons-png.flaticon.com/512/5290/5290058.png" height="200px" width="200px" />
                                                                                                                                                            <h2>Tu orden ha sido enviada!</h2>
                                                                                                                                                            <h4>Muchas gracias por comprar en FAEJ</h4>
                                                                                                                                                            <br>
                                                                                                                                                                <div class="row text-center">
                                                                                                                                                                    <div class="col">
                                                                                                                                                                        <a th:href="@{/index}"><button type="button" class="btn bg-white text-black" style="border: #cccccc solid"><b>IR A INICIO</b></button></a><!-- comment -->
                                                                                                                                                                        <a href="#"><button type="button" class="btn bg-dark text-white">VER ORDENES</button></a>
                                                                                                                                                                        <br>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </section>
                                                                                                                                                </body>

