
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- Sección para crear el botón de agregar productos -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-dark btn-block"
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarProducto">
                            <i class="fas fa-plus"></i> Agregar Nuevo
                        </button>

                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar productos, es la ventana modal -->
        <section th:fragment="agregarProducto">
            <div id="agregarProducto" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white"> <!-- Cambiado a bg-dark para fondo negro -->
                            <h5 class="modal-title">Agregar Nuevo</h5> <!-- Texto actualizado -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form th:action="@{/producto/guardar}" th:object="${producto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre del Producto</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="precio">Precio</label>
                                    <input type="text" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">Imagen del Producto</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <!-- Sección principal para mostrar la información de los productos -->
        <section th:fragment="listadoProductos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> <!-- Ajustado para usar todo el ancho disponible -->
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Productos</h4>
                            </div>
                            <div th:if="${productos != null and !productos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>ID Producto</th>
                                            <th>Nombre Producto</th>
                                            <th>Status</th>
                                            <th>Descripcion</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Categoria</th>
                                            <th>Imagen</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="producto : ${productos}">
                                            <td th:text="${producto.idProducto}"></td>
                                            <td th:text="${producto.nombreProducto}"></td>
                                            <td th:text="${producto.status}"></td>
                                            <td th:text="${producto.descripcion}"></td>
                                            <td th:text="${producto.precio}"></td>
                                            <td th:text="${producto.cantidad}"></td>
                                            <td th:text="${producto.categoria}"></td>
                                            <td>
                                                <img th:src="${producto.imagen}" height="50" alt="Imagen del producto" />
                                            </td>
                                            <td>
                                                <a th:href="@{/producto/modificar/{idProducto}(idProducto=${producto.idProducto})}" style="color: #007bff; text-decoration: underline;">
                                                    Actualizar
                                                </a>
                                                |
                                                <a th:href="@{/producto/eliminar/{idProducto}(idProducto=${producto.idProducto})}" style="color: #007bff; text-decoration: underline;">
                                                    Eliminar
                                                </a>                                              
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                                <span>No hay productos disponibles</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!-- Fragmento para editar productos -->
        <section th:fragment="editarProducto(producto)">
            <div class="container mt-5">
                <h2>Modificar Producto</h2>
            </div>
        </section>
    </body>
</html>
