<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FAEJ</title>
    </head>
    <body>
        <header th:replace="~{layout/plantillaAdmin :: header}"/>

        <section class="container d-flex" style="margin: 0px">
            <div th:replace="~{layout/plantillaAdmin :: sideBar}"/>
         
            <section th:replace="~{producto/fragmentos :: agregarProducto}"/> 
            
        </section>    
        <footer th:replace="~{layout/plantillaAdmin :: footer}"/>      
    </body>
</html>
