<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FAEJ</title>
    </head>
    <body>
        <header th:replace="~{layout/plantillaAdmin :: header}"/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" style="width: 10%">
                    <aside th:replace="~{layout/plantillaAdmin :: sideBar}"/>
                </div>
                <div class="col-md-9">
                    <br>
                     <section th:replace="~{producto/fragmentos :: listadoProductos}"/>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantillaAdmin :: footer}"/>      
    </body>
</html>
