<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Modificar Producto</title>
    </head>
    <body>

        <header th:replace="~{layout/plantillaAdmin :: header}"/>

        <section class="container d-flex" style="margin: 0px">
            <div th:replace="~{layout/plantillaAdmin :: sideBar}"/>

            <section>
                <div class="container mt-5" style="margin-left: 130px">
                    <h2 style="text-align: center">Modificar Producto</h2>
                    <hr>
                    <form th:action="@{/producto/guardar}" th:object="${producto}" method="POST" class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="row">
                            <div class=" col mb-3">
                                <label for="nombreProducto"><h5>Nombre del Producto</h5></label>
                                <input type="text" class="form-control" id="nombreProducto" th:field="*{nombreProducto}" style="height: 70px" required/>
                            </div>
                            <div class=" col mb-3">
                                <label for="descripcion"><h5>Descripción</h5></label>
                                <textarea class="form-control" id="descripcion" th:field="*{descripcion}"  style="height: 70px" required></textarea>
                            </div>
                           
                            <div class=" col mb-3">
                                <label for="precio"><h5>Precio</h5></label>
                                <input type="number" class="form-control" id="precio" th:field="*{precio}"  style="height: 70px" required/>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col mb-3">
                                <label for="cantidad"><h5>Cantidad</h5></label>
                                <input type="number" class="form-control" id="cantidad" th:field="*{cantidad}"  style="height: 70px" required/>
                            </div>
                                
                            <div class="col mb-3">
                                <label for="categoria"><h5>Categoria</h5></label>
                                <input type="text" class="form-control" id="categoria" th:field="*{categoria}"  style="height: 70px" required/>
                            </div>
                            <div class="col mb-3">
                                <label for="imagen"><h5>Imagen del producto</h5></label>
                                <input class="form-control" type="file" name="imagenFile"  style="height: 70px" onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn bg-dark text-white" type="submit"><h5>Guardar</h5></button>
                        </div>
                    </form>

                </div>
            </section>
        </section>
        
         <footer th:replace="~{layout/plantillaAdmin :: footer}"/>      
    </body>
    </body>
</html>
