<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Notificaciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Registrarse para recibir notificaciones</h3>
                        <p>Llene los campos con sus datos.</p>
                        <form class="requires-validation" novalidate>

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="name" placeholder="Nombre completo" required>
                               <div class="valid-feedback">Nombre valido!</div>
                               <div class="invalid-feedback">El campo de Nombre no puede estar vacio!</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="E-mail" required>
                                 <div class="valid-feedback">Email valido!</div>
                                 <div class="invalid-feedback"> El campo de Email no puede estar vacio!</div>
                            </div>

                           <div class="col-md-12">
                                <select class="form-select mt-3" required>
                                      <option selected disabled value="">Edad</option>
                                      <option value="jweb">+18</option>
                                      <option value="sweb">-18</option>
                                      
                               </select>
                                <div class="valid-feedback">Seleccionaste una edad!</div>
                                <div class="invalid-feedback">Favor seleccione una edad!</div>
                           </div>


                           <div class="col-md-12">
                              <input class="form-control" type="password" name="password" placeholder="Contrasena" required>
                               <div class="valid-feedback">Contrasena valida!</div>
                               <div class="invalid-feedback">Contrasena es obligatoria!</div>
                           </div>


                           <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Genero: </label>

                            <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="male">Masculino</label>

                            <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="female">Femenino</label>

                            <input type="radio" class="btn-check" name="gender" id="secret" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="secret">Secreto</label>
                               <div class="valid-feedback mv-up">Genero seleccionado!</div>
                                <div class="invalid-feedback mv-up">Favor seleccione un genero!</div>
                            </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label">Confirmo recibir notificaciones</label>
                         <div class="invalid-feedback">Favor confirme!</div>
                        </div>
                  

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
