<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head"> <!-- th:fragment darle nombres a las secciones para llamarlas en otras partes-->
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/> <!-- agrega las referencias de las dependencias que agregamos -->
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>      

        <title>FAEJ</title>   
    </head>
    <body>
        <header th:replace="~{layout/plantillaAdmin :: header}"/>
        <section class="container d-flex" style="margin: 0px">
            <div th:replace="~{layout/plantillaAdmin :: sideBar}"/>
            <div style="width: 90%; padding: 20px"><h1>holaa</h1></div>
        </section>   
        
           


        <footer th:replace="~{layout/plantillaAdmin :: footer }"/>          
    </body>
</html>