<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:fragment="head">
        <title>FAEJ</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg shadow mx-auto">
                <div class="container-fluid">
                    <a style="margin-left: 100px" class="navbar-brand" href="#">
                        <!--<img src="FAEJ-NEGRO.png" alt="" width="100px"/> </a>-->
                        <h1 class="text-uppercase fw-bold mt-1" style="font-size: 30px; color: black">
                            FAEJ
                        </h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div  class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown dropdown-mega position-static" >
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" sec:authorize="hasRole('ROLE_USER')" >[[#{nav.mujeres}]]</a>
                                <div class="dropdown-menu shadow mt-0" style="width: 100%">

                                    <div class="mega-conten">
                                        <div class="container">
                                            <div class="row" style="flex-wrap: nowrap">
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <!--<img src="FAEJ-NEGRO.png" width="100px" alt=""/>-->
                                                    <h1 class="text-uppercase fw-bold mt-1" style="font-size: 70px; color: black">
                                                        FAEJ
                                                    </h1>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a th:href="@{/producto/vistaProducto/Mujer}"><h5>[[#{nav.todos}]]</h5></a>
                                                    <div sec:authorize="hasRole('ROLE_USER')" class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Mujer/Lifestyle}">Lifestyle</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Mujer/Running}">Running</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Mujer/Trail Running}">Trail Running</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Mujer/Training & Gym}">Training & Gym</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Mujer/Sportswear}">Sportswear</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Mujer/Skateboarding}">Skateboarding</a>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a href="#"><h5>[[#{nav.marcas}]]</h5></a>
                                                    <div sec:authorize="hasRole('ROLE_USER')" class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Mujer', marca='Nike')}">Nike</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Mujer', marca='Adidas')}">Adidas</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Mujer', marca='Vans')}">Vans</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Mujer', marca='Puma')}">Puma</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Mujer', marca='NewBalance')}">New Balance</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Mujer', marca='Saucony')}">Saucony</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>      
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown dropdown-mega position-static" >
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" sec:authorize="hasRole('ROLE_USER')">[[#{nav.hombres}]]</a>
                                <div class="dropdown-menu shadow mt-0" style="width: 100%">

                                    <div class="mega-conten">
                                        <div class="container">
                                            <div class="row" style="flex-wrap: nowrap">
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <h1 class="text-uppercase fw-bold mt-1" style="font-size: 70px; color: black">
                                                        FAEJ
                                                    </h1>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a th:href="@{/producto/vistaProducto/Hombre}"><h5>[[#{nav.todos}]]</h5></a>
                                                    <div class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Hombre/Lifestyle}">Lifestyle</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Hombre/Running}">Running</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Hombre/Trail Running}">Trail Running</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Hombre/Training & Gym}">Training & Gym</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Hombre/Sportswear}">Sportswear</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Hombre/Skateboarding}">Skateboarding</a>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a href="#"><h5>[[#{nav.marcas}]]</h5></a>
                                                    <div class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Hombre', marca='Nike')}">Nike</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Hombre', marca='Adidas')}">Adidas</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Hombre', marca='Vans')}">Vans</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Hombre', marca='Puma')}">Puma</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Hombre', marca='NewBalance')}">New Balance</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Hombre', marca='Saucony')}">Saucony</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>      
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown dropdown-mega position-static" >
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" sec:authorize="hasRole('ROLE_USER')">[[#{nav.ninos}]]</a>
                                <div class="dropdown-menu shadow mt-0" style="width: 100%">

                                    <div class="mega-conten mx-auto">
                                        <div class="container">
                                            <div class="row" style="flex-wrap: nowrap">
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <h1 class="text-uppercase fw-bold mt-1" style="font-size: 70px; color: black">
                                                        FAEJ
                                                    </h1>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a th:href="@{/producto/vistaProducto/Niñ@}"><h5>[[#{nav.todos}]]</h5></a>
                                                    <div class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Niñ@/Lifestyle}">Lifestyle</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Niñ@/Running}">Running</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Niñ@/Trail Running}">Trail Running</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Niñ@/Training & Gym}">Training & Gym</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Niñ@/Sportswear}">Sportswear</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/Niñ@/Skateboarding}">Skateboarding</a>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a th:href="@{/producto/vistaProducto/Nin@}"><h5>[[#{nav.marcas}]]</h5></a>
                                                    <div class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Niñ@', marca='Nike')}">Nike</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Niñ@', marca='Adidas')}">Adidas</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Niñ@', marca='Vans')}">Vans</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Niñ@', marca='Puma')}">Puma</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Niñ@', marca='NewBalance')}">New Balance</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/{nombre}/marca/{marca}(nombre='Niñ@', marca='Saucony')}">Saucony</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>      
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown dropdown-mega position-static" >
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" sec:authorize="hasRole('ROLE_USER')">[[#{nav.marcas}]]</a>
                                <div class="dropdown-menu shadow mt-0" style="width: 100%">
                                    <div class="mega-conten">
                                        <div class="container">
                                            <div class="row" style="flex-wrap: nowrap">
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <h1 class="text-uppercase fw-bold mt-1" style="font-size: 70px; color: black">
                                                        FAEJ
                                                    </h1>
                                                </div>
                                                <div class="col-12 col-sm-4 col-md-3 py-4">
                                                    <a th:href="@{/producto/vistaProducto}"></h5></a>
                                                    <div class="list-group">
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/marca/{marca}(marca='Nike')}">Nike</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/marca/{marca}(marca='Adidas')}">Adidas</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/marca/{marca}(marca='Vans')}">Vans</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/marca/{marca}(marca='Puma')}">Puma</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/marca/{marca}(marca='NewBalance')}">New Balance</a>
                                                        <a class="list-group-item" th:href="@{/producto/vistaProducto/marca/{marca}(marca='Saucony')}">Saucony</a>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    [[#{nav.nosotros}]]
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/contacto/contacto}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    [[#{nav.contacto}]]
                                </a>
                            </li>
                        </ul>
                    </div>

                    <ul class="navbar-nav d-flex flex-row">
                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item me-3 me-lg-0">
                            <a class="nav-link" th:href="@{/producto/busquedaProducto}">
                                <i class="fas fa-magnifying-glass"></i>
                            </a>
                        </li>
                        <ul class="navbar-nav" sec:authorize="hasRole('ROLE_USER') or !isAuthenticated()" >
                            <li class="nav-item dropstart">
                                
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                    >
                                    <i class="fas fa-user"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm-start" >
                                    <li><a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{/login}">[[#{nav.login}]]</a></li>

                                    <li><a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{/registro/nuevo}">[[#{nav.registro}]]</a></li>
                                    <li><a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item" th:href="@{/usuario/miCuenta}">[[#{nav.cuenta}]]</a></li>
                                    <li><a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item" href="#">[[#{nav.ordenes}]]</a></li>
                                    <li><a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item" href="#">[[#{nav.favoritos}]]</a></li>
                                    <hr sec:authorize="hasRole('ROLE_USER')">
                                        <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
                                            <button class="btn">
                                                Cerrar Sesión
                                            </button>
                                        </form>
                                </ul>
                            </li>
                        </ul>
                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item me-4 me-lg-0">
                            <a class="nav-link" href="#">
                                <i class="far fa-heart"></i>
                            </a>
                        </li>

                        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item me-3 me-lg-0 mt-2">
                                
                            <div id="resultsBlock"></div>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <footer th:fragment="footer" class="text-center text-lg-start bg-body-tertiary text-muted " style="margin-top: auto" >
            <section style="background-color: #333333; color: white; border-bottom: 2px; border-top: 2px; border-bottom-color: white; border-top-color: white; padding-top: 10px">
                <div>
                    <hr></hr>
                    <div class="container text-center text-md-start mt-2" > 

                        <!-- Grid row -->
                        <div class="row mt-3">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1 mt-2">
                                <!-- Content -->
                                <h1 class="text-uppercase fw-bold mb-4" style="font-size: 70px">
                                    FAEJ
                                    <!--  <img src="FAEJ-BLANCO.png" width="100px"/>-->
                                </h1>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div sec:authorize="hasRole('ROLE_USER')" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1 mt-1">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    [[#{footer.categorias}]]
                                </h6>
                                <p>
                                    <a th:href="@{/producto/vistaProducto/Mujer}" class="text-reset">[[#{nav.mujeres}]]</a>
                                </p>
                                <p>
                                    <a th:href="@{/producto/vistaProducto/Hombre}" class="text-reset">[[#{nav.hombres}]]</a>
                                </p>
                                <p>
                                    <a th:href="@{/producto/vistaProducto/Niñ@}" class="text-reset">[[#{nav.ninos}]]</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div sec:authorize="hasRole('ROLE_USER')" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1 mt-1">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">
                                    [[#{footer.marcas}]]
                                </h6>
                                <p>
                                    <a th:href="@{/producto/vistaProducto/marca/Nike}" class="text-reset">Nike</a>
                                </p>
                                <p>
                                    <a th:href="@{/producto/vistaProducto/marca/Adidas}" class="text-reset">Adidas</a>
                                </p>
                                <p>
                                    <a th:href="@{/producto/vistaProducto/marca/NewBalance}" class="text-reset">New Balance</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div sec:authorize="hasRole('ROLE_USER')" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mb-1 mt-1">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">[[#{footer.ayuda}]]</h6>
                                <p>
                                    <a th:href="@{/contacto/contacto}" class="text-reset">[[#{nav.contacto}]]</a>
                                </p>
                                <p>
                                    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/producto/guiaTallas}" class="text-reset">[[#{footer.tallas}]]</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset">[[#{footer.politica}]]</a>
                                </p>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1 mt-1">
                                <!-- Links -->
                                <h6 class="text-uppercase fw-bold mb-4">[[#{footer.horario}]]</h6>
                                <p>
                                    L-D 8 AM - 7 PM
                                </p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </div>          
            </section>

            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="p-1" style="background-color: #333333; color: white">
                <hr></hr>
                <div class="row mx-auto">
                    <div class="col">
                        <p style="margin-left: 10px">Derechos Reservados FAEJ © 2024</p></div>
                    <div class="col">
                        <p class="text-right" style="justify-content: end; align-content: end"><a class="text-white" th:href="@{/(lang=es)}">ES </a><a class="text-white" th:href="@{/(lang=en)}">EN</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
