<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FAEJ</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_VENDEDOR')" class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <aside th:replace="~{layout/plantillaAdmin :: sideBar}"/>
                    </div>
                    <div class="col-md-9">
                        <br>
                           
                        <div class="d-flex justify-content-center">
                            <h1 style="margin-right: 5px" >Hola,   <h1 sec:authentication=" name"></h1></h1>
                    </div>
                    <br>
                    </div>
                </div>
            </div>
        <section sec:authorize="!isAuthenticated() or hasRole('ROLE_USER')" th:replace="~{usuario/fragmentos :: carrusel}"/> 
        <section sec:authorize="!isAuthenticated() or hasRole('ROLE_USER')" th:replace="~{usuario/fragmentos :: marcas}"/> 
        <footer th:replace="~{layout/plantilla :: footer }"/>          
    </body>
</html>