
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FAEJ</title>
    </head>
    <body>
        <!-- Sección para crear el botón de agregar productos -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="d-flex">
                        <div class="ms-auto">
                            <button 
                                type="button" 
                                class="btn btn-dark" 
                                data-bs-toggle="modal" 
                                data-bs-target="#agregarListaDeseos">
                                <i class="fas fa-plus"></i> Agregar Nuevo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar productos, es la ventana modal -->
        <section th:fragment="agregarListaDeseos">

        </section>
    </body>
</html>
