<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tu Cuenta > Lista de Deseos</title>
    </head>
    <body>
        <header th:replace="~{layout/plantillaAdmin :: header}"/>
        <section class="container d-flex" style="margin: 0px">
            <div th:replace="~{layout/plantillaAdmin :: sideBar}"/>
            <div style="width: 90%; padding: 20px">
                <h2>Lista de Deseos</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Status</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="deseo : ${deseos}">
                            <td><img th:src="${deseo.producto.rutaImagen}" alt="Imagen Producto" width="50"/></td>
                            <td th:text="${deseo.producto.nombre}"></td>
                            <td th:text="${deseo.producto.precio}"></td>
                            <td th:text="${deseo.producto.status}"></td>
                            <td>
                                <button type="button" class="btn btn-dark" th:onclick="'addToCart(' + ${deseo.producto.id} + ')'">Add to Cart</button>
                                <button type="button" class="btn btn-danger" th:onclick="'removeFromWishlist(' + ${deseo.producto.id} + ')'"><i class="fas fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>    
        <footer th:replace="~{layout/plantillaAdmin :: footer}"/>      
    </body>
</html>
