<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tu Cuenta > Lista de Deseos</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla:: header}"/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <aside sec:authorize="hasRole('ROLE_USER')"  th:replace="~{usuario/fragmentos :: opciones}"/>
                </div>
                <div class="col-md-9">
                    <br>
                        <section class="card container d-flex" style="margin: 0px">

                            <div >
                                <h2 class="card-header" >Mis Favoritos</h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Descripción</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Categoría</th>
                                            <th scope="col">Estilo</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="deseo, co : ${deseos}">
                                            <td><img th:src="${deseo.rutaImagen}" alt="Imagen Producto" width="100"/></td>
                                            <td th:text="${deseo.nombreProducto}"></td>
                                            <td th:text="${deseo.descripcion}"></td>
                                            <td th:text="'$'+${deseo.precio}"></td>
                                            <td th:text="${deseo.categoria}"></td>

                                            <td th:text="${deseo.estilo}"></td>
                                            <td>
                                                <form>
                                                    <input type="hidden" name="texto" th:value="${deseo.idProducto}"/>
                                                    <input type="hidden" name="texto" th:value="${deseo.existencias}"/>
                                                    <div >
                                                        <button class="btn text-white bg-dark" id="addCar" name="addCar" type="button" onclick="addCard(this.form)" style=" border-radius: 0"><i class="fas fa-shopping-cart"></i> Añadir al carrito</button>
                                                        <a th:href="@{/listaDeseos/eliminar/{id}(id=${deseo.id})}" class="btn text-white" style="background-color: #cc0033; text-decoration: underline; border-radius: 0">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </form>
                                                <br>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>    
                </div>
            </div>
        </div>
        <br>
            <footer th:replace="~{layout/plantilla :: footer }"/>          
    </body>

</html>
